<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Demographics Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-6"><strong>Fill the Shelter Children Details</strong></h2>
        <div class="border border-gray-300 rounded-md p-6 bg-white shadow-sm">
            <form action="/submit_child_demographics" method="POST">
                <div class="mb-4">
                    <label for="child_name" class="block text-sm font-medium text-gray-700">Child Name:</label>
                    <input type="text" id="child_name" name="child_name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="birthdate" class="block text-sm font-medium text-gray-700">Birth Date:</label>
                    <input type="date" id="birthdate" name="birthdate" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="age" class="block text-sm font-medium text-gray-700">Age:</label>
                    <input type="number" id="age" name="age" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="grade_level" class="block text-sm font-medium text-gray-700">Daycare or School Grade Level:</label>
                    <input type="text" id="grade_level" name="grade_level" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="trauma_programming_hours" class="block text-sm font-medium text-gray-700">Hours of Trauma-Informed Programming Received:</label>
                    <input type="number" id="trauma_programming_hours" name="trauma_programming_hours" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
            </form>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>
