<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit Information</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-10">
        <h2 class="text-2xl font-bold mb-6"><strong>Exit Information</strong></h2>
        <div class="border border-gray-300 rounded-md p-6 bg-white shadow-sm">
            <div class="mb-6">
                <p class="text-lg font-medium text-gray-700">Name: {{ name }}</p>
                <p class="text-lg font-medium text-gray-700">Date of Birth: {{ birthdate }}</p>
            </div>
            <form action="/submit_exit_info" method="POST">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <div class="mb-4">
                    <label for="length_stay_shelter" class="block text-sm font-medium text-gray-700">Length of Stay in Maternity Shelter:</label>
                    <select id="length_stay_shelter" name="length_stay_shelter" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="" disabled selected>Select an option</option>
                        <option value="less_than_30_days">Less than 30 days</option>
                        <option value="1-6_months">1-6 months</option>
                        <option value="6-12_months">6-12 months</option>
                        <option value="12-24_months">12-24 months</option>
                        <option value="greater_than_24_months">>24 months</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="reason_leaving_shelter" class="block text-sm font-medium text-gray-700">Reason for Leaving the Maternity Shelter:</label>
                    <input type="text" id="reason_leaving_shelter" name="reason_leaving_shelter" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="wheredidugo" class="block text-sm font-medium text-gray-700">Where did you go?:</label>
                    <select id="wheredidugo" name="wheredidugo" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="">Select...</option>
                        <option value="Permanent housing">Transitional Housing</option>
                        <option value="Family housing">Family Housing</option>
                        <option value="Unhoused">Unhoused</option>
                    </select>
                </div>

                <div class="mb-4">
                    <label for="doe_from_maternity_shelter" class="block text-sm font-medium text-gray-700">Date of exit from the Maternity Shelter:</label>
                    <input type="date" id="doe_from_maternity_shelter" name="doe_from_maternity_shelter" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>
                
                <div class="mb-4">
                    <label for="moved_to_transitional_housing" class="block text-sm font-medium text-gray-700">Did the Client Move to Transitional Housing or Community Housing?</label>
                    <select id="moved_to_transitional_housing" name="moved_to_transitional_housing" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="">Select...</option>
                        <option value="transitional housing">Transitional Housing</option>
                        <option value="community housing">Community Housing</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="housingreason" class="block text-sm font-medium text-gray-700">Reason for choosing community housing (if applicable):</label>
                    <input type="text" id="housingreason" name="housingreason" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>

                <div class="mb-4">
                    <label for="commnityhousingaddr" class="block text-sm font-medium text-gray-700">Address of the chosen community housing (if applicable):</label>
                    <input type="text" id="commnityhousingaddr" name="commnityhousingaddr" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                </div>
                
                <div class="mb-4">
                    <label for="length_stay_transitional_housing" class="block text-sm font-medium text-gray-700">Length of Stay in Transitional Housing:</label>
                    <select id="length_stay_transitional_housing" name="length_stay_transitional_housing" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="" disabled selected>Select an option</option>
                        <option value="less_than_30_days">Less than 30 days</option>
                        <option value="1-6_months">1-6 months</option>
                        <option value="6-12_months">6-12 months</option>
                        <option value="12-24_months">12-24 months</option>
                        <option value="greater_than_24_months">>24 months</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="housing_voucher_recipient" class="block text-sm font-medium text-gray-700">Housing Voucher Recipient:</label>
                    <select id="housing_voucher_recipient" name="housing_voucher_recipient" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="">Select...</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                
                <div class="mb-4">
                    <label for="case_management_assistance" class="block text-sm font-medium text-gray-700">Did Case Management Assist in Finding Housing?</label>
                    <select id="case_management_assistance" name="case_management_assistance" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                        <option value="">Select...</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>

                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
            </form>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>
