<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Heaven of Grace</title>
<link rel="stylesheet" href="../css/styles.css">
</head>
<body>

    <div class="navbar">
        <div class="navbar-logo">
            <img src="/static/HoG.PNG" alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="/client_details" class="view-client-button">View Client Data</a> 
        </div>
    </div>
  
<form id="healthForm" action="/submit_all_data" method="POST">
    <h2> <strong>Fill the Health Information</strong></h2>
    <label for="highbp">High blood pressure:</label>
    <input type="text" id="highbp" name="highbp">

    <label for="diabetes">Diabetes:</label>
    <input type="text" id="diabetes" name="diabetes">

    <label for="heartdisease">Heart disease:</label>
    <input type="text" id="heartdisease" name="heartdisease">

    <label for="livebirths">Live births:</label>
    <input type="text" id="livebirths" name="livebirths">

    <label for="miscarriages">Miscarriages:</label>
    <input type="number" id="miscarriages" name="miscarriages">

    <label for="diagdisabilty">Diagnosed Disability:</label>
    <input type="test" id="diagdisabilty" name="diagdisabilty">

    <label for="rehosp">Rehospitalization:</label>
    <select id="rehosp" name="rehosp">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <label for="doula">Doula Support:</label>
    <select id="doula" name="doula">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <label for="highriskpreg">High Risk Pregnancy:</label>
    <select id="highriskpreg" name="highriskpreg">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>

    <label for="vaginalbirth">Vaginal birth:</label>:</label>
    <input type="text" id="vaginalbirth" name="vaginalbirth">

    <input type="submit" id="submitBtn" value="Next" onclick="">
</form>

<script>
    document.getElementById('healthForm').addEventListener('submit', function(event) {
        event.preventDefault();
        let healthFormData = new FormData(this);

        // Retrieve client form data from session storage
        let clientFormData = JSON.parse(sessionStorage.getItem('clientFormData'));

        // Combine client and health form data
        let combinedData = {...clientFormData,...Object.fromEntries(healthFormData)};

        // Send combined data to the server
        fetch('/submit_all_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(combinedData)
        })
       .then(response => response.json())
       .then(data => {
            console.log(data.message);
            alert(data.message);
            // Optionally redirect to another page or clear session storage
            sessionStorage.removeItem('clientFormData');
        })
       .catch(error => {
            console.error('Error submitting form:', error);
            alert('Error submitting form:' + error.message);
        });
    });
</script>
</body>
</html>
